html,
body {
  margin: 0;
  color: #403e3e;
  font-family: "Open Sans", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.caption {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #15121f;
}

.start-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: url("../img/lorem.png") repeat-x 0 50px,
              url("../img/lorem.png") repeat-x 0 100%;
  box-shadow: inset 0 0 90px 400px rgba(218, 213, 209, 0.5);
  align-items: center;
}

.start-intro p {
  text-align: center;
  color: #15121f;
}

.myname {
  margin-bottom: 0;
}

.greeting {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 35px;
}

.menu {
  display: flex;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #15121f;
}

.toggle {
  position: relative;

  align-self: center;
  width: 21px;
  height: 23px;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.menu-opened .toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 15px;

  width: 21px;
  height: 21px;

  background-image: url("../img/icon-menu-close.svg");
}

.menu-closed .toggle::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 15px;

  width: 20px;
  height: 14px;

  background-image: url("../img/icon-menu-open.svg");
}

.list {
  position: absolute;
  top: 44px;
  left: 0;

  display: flex;
  flex-direction: column;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.item {
  border-top: 1px solid #ececec;
  width: 100%;
  text-transform: lowercase;
}

.item-start {
  border-top: none;
}

.item:hover {
  background-color: #DAD5D1;
}

.link {
  display: block;
  margin: 0 auto;
  padding-left: 15px;
  width: 100vh;

  line-height: 50px;
  text-decoration: none;
}

@media (max-width: 490px) {
  .menu-closed .list {
    display: none;
  }

  .menu-opened .list {
    display: block;
  }

  .menu-nojs .toggle {
    display: none;
  }

  .menu-nojs {
    -ms-flex-align: center;
        align-items: center;
    width: 100%;
    height: auto;
  }

  .menu-nojs .list {
    position: static;
    display: block;
    transform: translateX(0);
  }
}

@media (min-width: 489px) {
  .menu {
    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 0;
  }

  .toggle {
    display: none;
  }

  .list {
    flex-direction: row;
    justify-content: flex-end;
    top: 0;
    width: 100vw;
  }

  .item {
    border-top: none;
    width: 200px;
  }

  .link {
    width: auto;
    padding-left: 0;
    text-align: center;
    line-height: 50px;
  }
}

.skills {
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 90px 300px rgba(218, 213, 209, 0.5);
}

.skills-list {
  line-height: 50px;
  list-style: none;
  font-size: 20px;
  padding: 0;
  text-decoration: underline;
  text-align: center;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  box-shadow: inset 0 0 90px 300px rgba(218, 213, 209, 0.5);
}

.work {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  background-color: #ffffff;
  border: 1px solid #DBD5D1;
  box-sizing: border-box;
  padding-bottom: 15px;
}

.work img {
  cursor: pointer;
  max-width: 500px;
}

.work a {
  text-align: center;
}

.project:hover {
  border-bottom: 10px solid #dBd5d1;
}

.project:hover .title {
  color: #15121f;
  font-weight: bold;
}

.repo {
  width: 100%;
  padding-top: 15px;
}

.repo:hover {
  color: #15121f;
  font-weight: bold;
  border-top: 10px solid #dBd5d1;
}

@media (min-width: 1200px) {
  .works {
    height: 100vh;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
  }

  .work {
    width: 33.3%;
  }
}

.contacts {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
  box-sizing: border-box;
  box-shadow: inset 0 0 90px 300px rgba(218, 213, 209, 0.5);
}

button[type="submit"] {
  font-family: 'Open Sans', sans-serif;
  background-color: #111111;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
}

button[type="submit"]:hover {
  opacity: 0.5;
}

button[type="submit"]:active {
  opacity: 0.3;
}

@media (min-width: 780px) {
  .contacts {
    height: 80vh;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

input {
  width: 50%;
  padding:1%;
  margin-bottom: 15px;
}

textarea {
  width: 50%;
  padding: 1%;
  margin-bottom: 15px;
}

button {
  width: 52%;
  height: 40px;
}

@media (max-width: 1200px) {
  input {
    width: 70%;
  }

  textarea {
    width: 70%;
  }

  button {
    width: 72%;
  }
}

footer {
  height: 25vh;
  background-color: #111111;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.social {
  align-self: center;
  width: 100%;
}

.skype {
  order: 1;
}

.phone {
  order: 2;
}

@media (min-width: 780px) {
  footer {
    height: 15vh;
  }

  .container {
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  .social {
    width: 150px;
  }

  .skype {
    order: 0;
  }

  .phone {
    order: 0;
  }
}

.social {
  display: flex;
  justify-content: space-between;
}

.social-link {
  width: 32px;
  height: 32px;
  font-size: 0;
  border-radius: 3px;
  background-position: 50% 50%;
}

.social-link:hover {
  opacity: 0.5;
}

.social-link:active {
  opacity: 0.3;
}

.github {
  background-image: url("../img/github.png");
}

.facebook {
  background-image: url("../img/facebook.png");
}

.vkontakte {
  background-image: url("../img/vk.png");
}

.intouch {
  padding-left: 40px;
  line-height: 32px;
  background: no-repeat 0 50%;
  text-align: center;
}

.intouch p {
  margin: 0;
}

.skype {
  background-image: url("../img/skype.png");
}

.phone {
  background-image: url("../img/phone.png");
}
